input[type="text"] {
    width: 20em;
}

.action_buttons, .answer_groups {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character_image {
    width: 15em;
}

.character_image, #npc_name {
    margin-left: auto;
    margin-right: auto;
}

.character_image, #npc_name {
    display: block;
}

.info_item {
    font-size: 1.25em;
}

.info_item, .section_title {
    text-align: center;
}

.section_title {
    font-size: 1.5em;
    margin: 1em;
}
