img[alt] {
    font-size: 1em;
}

img[alt], .info_item, .section_title {
    text-align: center;
}

input[type="text"] {
    width: 20em;
}

option {
    background-color: var(--admin-white-color);
    color: var(--admin-black-color);
}

.action_buttons, .answer_groups, .reaction, #add_reactions {
    flex-wrap: wrap;
}

.action_buttons, .answer_group, .answer_groups, .reaction, #add_reactions {
    display: flex;
    justify-content: center;
}

.answer_group, .reaction, #add_reactions {
    align-items: center;
    flex-direction: column;
}

.character_image, .reaction_image {
    width: 20em;
}

.character_image, #npc_name {
    margin-left: auto;
    margin-right: auto;
}

.character_image, #npc_name {
    display: block;
}

.info_item {
    font-size: 1.25em;
}

.reaction, #add_reactions {
    align-content: center;
}

.section_title {
    font-size: 1.5em;
    margin: 1em;
}
