/* Global properties */
html {
    background-color: var(--game-black);
    color: var(--game-white);
}
.current_background {
    background-position: center;
    background-size: cover;
    filter: blur(4px);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    /* Place the background behind everything */
    z-index: -9999;
}

.action_button, .multi_player_mode_choice_title, .multi_player_mode_waiting_for_host, .player_name, .players_title, .rounds_count_title, .room_code_text_title, .room_title, #game_username, #rounds_count {
    font-family: "Titan One", sans-serif;
}

.game_start_failed, .multi_player_challenge_mode_invalid_input, .player_names {
    font-family: "Roboto Mono", sans-serif;
}

.game_start_failed, .multi_player_challenge_mode_invalid_input, .room_code, .room_title {
    color: var(--game-red);
}

.join_room_view, .multi_player_mode_choice, .multi_player_mode_choice_number, .players_title, .room_code_text, .room_view_container {
    align-items: center;
    display: flex;
}

.join_room_view, .multi_player_mode_choice, .player_name, .players_title, .room_code_text {
    justify-content: center;
}

.join_room_view, .multi_player_mode_choice, .room_code_text {
    flex-wrap: nowrap;
}

.join_room_view, .room_view {
    height: calc(100vh - var(--body-margin) * 2);
}

.multi_player_mode_choice, .join_room_view, .players_title, .room_code_text {
    flex-direction: column;
}

.multi_player_mode_choice, .multi_player_mode_waiting_for_host {
    text-align: center;
}

.multi_player_mode_choice_number, .room_view_container {
    flex-direction: row;
}

.multi_player_mode_choice_title, .multi_player_mode_waiting_for_host, .player_name, .players_title, .rounds_count_title, .room_code_text_title, .room_title {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.players_title, .room_view_container {
    flex-wrap: wrap;
}

#game_username, #rounds_count {
    border: none;
}

/* Action buttons */
.action_button {
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.action_button:hover {
    transform: translate(0.1em, 0.1em);
    box-shadow: 10px 10px 0px 0px var(--game-black);
}

.multi_player_mode_choice .action_button, .room_code_text .action_button {
    font-size: 1.5em;
    min-width: 10em;
}

/* Room view major elements */
.room_view_container {
    justify-content: space-around;
}

.room_title {
    font-family: "Spicy Rice", sans-serif;
    font-size: 4em;
    font-weight: bold;
    margin: 0.25em;
}

/* Room code */
.room_code {
    text-decoration: none;
}

.room_code_text_title {
    font-size: 2em;
    margin: 0.25em;
}

#invite_friends_button {
    background-color: var(--game-grey);
    border-radius: 0.5em;
    font-size: 1em;
    text-transform: none;
}

#invite_friends_button:hover {
    box-shadow: 10px 10px 0px 0px var(--game-black);
    transform: translate(0.1em, 0.1em);
}

/* Waiting for host */
.multi_player_mode_waiting_for_host {
    font-size: 2.5em;
    max-width: 20em;
}

/* Multi-player mode choice */
.multi_player_challenge_mode_invalid_input {
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
}

.multi_player_mode_choice_number {
    margin: 0.75em;
}

.multi_player_mode_choice_title {
    font-size: 2em;
    margin: 0.5em;
}

.multi_player_mode_choices {
    padding: 1em;
    border: var(--game-dark-gold) solid;
    border-radius: 1em;
    background-color: #000000d0;
}

/* Rounds count */
.rounds_count_title {
    font-size: 1.375em;
    margin: 0.5em;
}

#rounds_count {
    background-color: var(--game-white);
    border-radius: 0.5em;
    color: var(--game-black);
    font-size: 1em;
    padding: 0.5em;
    width: 2.5em;
}

/* Players list */
.player_name {
    color: var(--game-white);
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.player_names {
    border: 0.25em var(--game-white) solid;
    border-radius: 0.75em;
    font-size: 1.25em;
    max-height: 12em;
    overflow-y: scroll;
    padding: 0.25em;
}

.players_title {
    align-content: center;
    font-size: 3em;
    margin: 1em;
}

/* Game join view */
#game_username {
    background-color: var(--game-white);
    border-radius: 0.375em;
    color: var(--game-black);
    font-size: 1.25em;
    margin: 0.5em;
    padding: 0.5em;
}

#join_game_button {
    font-size: 1.25em;
    margin: 1em;
}

/* Game start failure */
.game_start_failed {
    font-size: 1em;
    font-weight: bold;
}
