/* Common properties */
:root {
    --game-begin-margin: 2em;
    --header-actions-side: 4em;
}

input, .action_button, .game_mode_item_title {
    font-family: "Titan One", sans-serif;
}

.back_button, .theme_switcher_btn {
    height: var(--header-actions-side);
    width: var(--header-actions-side);
}

.game_begin, .game_mode_item, .game_mode_item_input_text_single_line, .game_mode_items, .game_mode_selection {
    align-items: center;
    display: flex;
    justify-content: center;
}

.game_begin, .game_mode_item, .game_mode_selection, .game_mode_items {
    flex-direction: column;
}

.game_mode_item_input_text_single_line, .game_mode_items {
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

input {
    background-color: var(--game-white);
    border: none;
    border-radius: 1em;
    font-size: 1em;
    padding: 0.5em;
    color: var(--game-black);
}

input::placeholder {
    color: var(--game-black);
    opacity: 0.5;
}

.back_btn {
    fill: var(--game-dark-gold);
}

.game_begin {
    background-image: url("../images/start_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: var(--game-gold) solid 1px;
    border-radius: 1.5em;
    flex-wrap: wrap;
    /*
    Viewport height - body margin (x2: top + bottom) - header actions height
    - footer links height - game begin margin
    */
    height: calc(100vh - var(--body-margin) * 2
        - var(--game-begin-margin) * 2
        - var(--footer-links-height));
    justify-content: center;
    margin: var(--game-begin-margin);
}

.game_title {
    color: var(--game-gold);
    font-family: "Ironick", serif;
    font-size: 5em;
    font-weight: bold;
    margin: 0.25em;
    text-align: center;
}

.ingame {
    margin: 0;
}

.header_action {
    list-style-type: none;
}

.header_actions {
    display: flex;
    height: var(--header-actions-side);
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.action_button {
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.action_button:hover {
    box-shadow: 10px -10px 25px 0px var(--game-black), -10px 10px 25px 0px var(--game-black);
    transform: translate(0.1em, 0.1em);
}

.game_mode_selection {
    background-image: url("../images/start_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: nowrap;
    height: 100vh;
}

.game_mode_item {
    align-content: center;
    margin: 0.5em;
}

.game_mode_item_title {
    font-size: 2em;
    margin: 0.25em;
}

.game_mode_item_input_text_single_line {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.game_mode_choice_selector {
    padding: 1em;
}

.game_start_failed {
    color: var(--game-red);
    font-family: "Roboto Mono", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.25em;
}

.theme_switcher_btn {
    fill: var(--game-white);
    transition: fill 0.5s;
}

.theme_switcher_btn:hover {
    fill: var(--button-links-gray);
}

#back_button {
    left: 0;
    position: absolute;
    top: 0;
}

#create_room_button, #join_room_button, #start_solo_game_button {
    font-size: 1.5em;
}

#game_username {
    width: calc(100% - 1.25em);
}

#play_button {
    font-size: 3em;
}
