/* Custom fonts */
@font-face {
    font-display: swap;
    font-family: "Spicy Rice";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/spicy_rice_v21/spicy_rice_v21.woff2") format("woff2"), url("../fonts/spicy_rice_v21/spicy_rice_v21.woff") format("woff"), url("../fonts/spicy_rice_v21/spicy_rice_v21.ttf") format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: swap;
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/titan_one_v13/titan_one_v13.woff2") format('woff2'), url("../fonts/titan_one_v13/titan_one_v13.woff") format('woff'), url("../fonts/titan_one_v13/titan_one_v13.ttf") format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: swap;
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto_mono_v22/roboto_mono_v22.woff2") format('woff2'), url("../fonts/roboto_mono_v22/roboto_mono_v22.woff") format('woff'), url("../fonts/roboto_mono_v22/roboto_mono_v22.ttf") format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Common properties */
:root {
    /* Colors */
    color-scheme: dark;
    --alert-dialog-background-color: #000000DF;
    --dark-theme-background-color: #213C40;
    --game-black: #000000;
    --game-blue: #0096FF;
    --game-green: #008000;
    --game-grey: #5A5656;
    --game-red: #BD1E1E;
    --game-white: #FFFFFF;
    --light-theme-background-color: #B1EDE8;
    /* Sizes */
    --body-margin: 0.375em;
    --button-and-dialog-border-radius: 1em;
    --footer-links-height: 2em;
}
  
html {
    margin: 0;
}

body {
    margin: var(--body-margin);
}

noscript .alert_dialog_background, noscript .alert_dialog_msg, noscript .alert_dialog_title {
    display: block;
}

.action_button {
    background-color: var(--game-red);
    border-color: var(--game-black);
    border-radius: var(--button-and-dialog-border-radius);
    border-style: solid;
    border-width: 0.125em;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    transition: box-shadow 0.5s, transform 0.5s;
}

.alert_dialog, .footer_links {
    align-content: center;
    align-items: center;
}

/* Themes */
.dark {
    background-color: var(--dark-theme-background-color);
}

.light {
    background-color: var(--light-theme-background-color);
}

/* Utility classes */
.hidden {
    display: none !important;
}

/* Links */
.link {
    text-decoration: none;
}

.link:visited {
    color: unset;
}

/* Footer */
.footer_link {
    color: var(--game-white);
    font-family: "Roboto Mono", sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em;
    text-align: center;
    transition: color 0.25s;
}

.footer_link:hover {
    color: var(--game-black);
}

.footer_links {
    align-items: center;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    height: var(--footer-links-height);
    justify-content: flex-end;
}

/* Unsupported browser messages */
.unsupported_browser_msg {
    display: none;
}

.unsupported_show {
    display: block;
}

/* Alert dialogs */
.alert_dialog {
    background-color: var(--game-grey);
    border-color: var(--game-white);
    border-radius: var(--button-and-dialog-border-radius);
    display: none;
    font-family: "Spicy Rice", serif;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    left: 50%;
    overflow: auto;
    padding: 2em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.alert_dialog_show {
    display: flex;
}

.alert_dialog_title {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}

.alert_dialog_msg {
    font-size: 1.5em;
    text-align: justify;
}

.alert_dialog_background {
    background-color: var(--alert-dialog-background-color);
    display: none;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
}
