/* Common properties */
html {
    background-color: var(--game-black);
    color: var(--game-white);
}

.action_button, .score_title {
    text-transform: uppercase;
}

.action_button, .scores, .summary {
    font-family: "Titan One", sans-serif;
}

.anwser_title, .emotion_and_culprit_choices_title, .introduction_text, .introduction_title, .interrogation_title, .results_title,.introduction_right ,.reveal_culprit_title, .score_title, .summary_title {
    font-family: "Ironick", serif;
}

.culprit_btn, .interrogation, .player_score, .question_answer, .questions_and_image, .reveal_culprit, .reveal_score, .scores, .summary, .summary_suspect, .suspect_picture[alt], .suspect, .suspects, .suspects_list {
    align-items: center;
}

.culprit_btn, .interrogation, .player_score, .question_answer, .questions_list, .questions_and_image, .reveal_culprit, .reveal_score, .reveal_and_scores, .scores, .summary, .summary_title, .suspect, .suspect_picture[alt], .suspects, .suspects_list, .summary_suspect {
    display: flex;
}

.culprit_btn, .interrogation, .player_score, .question_answer, .questions_list, .reveal_score, .suspect_picture[alt], .suspect, .suspects, .suspects_list {
    justify-content: center;
}

.culprit_btn, .player_score, .reveal_and_scores, .summary_title, .suspects, .suspects_list {
    flex-direction: row;
}

.culprit_btn, .player_score, .suspect {
    flex-wrap: nowrap;
}

.current_background {
    background-position: center;
    background-size: cover;
    filter: blur(4px);
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    /* Place the background behind everything */
    z-index: -9999;
}

.emotion_and_culprit_choices_title, .interrogation_title, .introduction_title, .results_title, .reveal_culprit_title, .reveal_score, .score_title, .summary_title {
    color: var(--game-gold);
}

.emotion_and_culprit_choices_title, .results_title, .reveal_culprit_title, .score_title, .summary, .summary_title, .suspect_picture[alt] {
    text-align: center;
}

.explain_suspect_emotion_title, .interrogation_title, .introduction_title, .results_title, .reveal_culprit_title, .score_title, .suspect_answer {
    font-weight: bold;
}

.game_app {
    margin: 0;
}

.interrogation, .question_answer, .questions_and_image, .reveal_and_scores, .reveal_culprit, .summary_suspect, .suspect_picture[alt], .suspects, .suspects_list {
    flex-wrap: wrap;
}

.interrogation, .question_answer, .questions_list, .reveal_culprit, .scores, .summary, .summary_suspect, .suspect, .suspect_picture[alt] {
    flex-direction: column;
}

.introduction_title, .results_title, .summary_title {
    font-size: 4em;
}

.interrogation_title, .reveal_culprit_title, .reveal_score, .results_title, .score_title, .summary_title {
    margin: 0.25em;
}

.home_button, .next_btn, .suspects {
    padding: 0;
}

.home_button, .next_btn, .suspect_emotion_chooser {
    border: none;
}

.home_button, .next_btn, #return_lobby_button {
    background-color: transparent;
}

.question_answer, .questions_list, .questions_and_image, .reveal_culprit, .suspect_picture[alt], .scores, .summary_suspect, .suspects, .suspects_list {
    align-content: center;
}

.reveal_culprit_explaination, .explain_suspect_emotion_description, .reveal_score, .suspect_emotion_chooser, .suspect_answer, .suspect_picture[alt] {
    font-family: "Roboto Mono", sans-serif;
}

.explain_suspect_emotion_description, .question_button, .players_list, .return_button, .reveal_culprit, .reveal_culprit_explaination, .scores, .summary, .suspect, .suspect_emotion_chooser, .suspect_picture, .suspects_list {
    margin: 1em;
}

.suspect {
    list-style-type: none;
}

.suspect_picture {
    border: var(--game-dark-gold) solid 5px;
    border-radius: 1em;
    height: 15em;
    width: 15em;
    transition: all 0.5s ease;
    
}
.npc_answer{
    flex-direction: column;
    width: 40em;
}
.image_interrogation{
    height: 25em;
    width: 25em;
}

.question_answer{
border: var(--game-dark-gold) solid;
border-radius: 1em;
height: 6em;
background-color: #000000d0;
}

.suspect_picture:hover {
    filter: grayscale(0);
    transition: all 0.5s ease;
}

.suspect_picture[alt] {
    font-size: 1em;
}

/* Buttons */
.action_button, .home_button, .next_btn {
    cursor: pointer;
}

.home_button, .next_btn {
    fill: var(--game-red);
    height: 5em;
    width: 5em;
}

.action_button {
    font-size: 1.5em;
    min-width: 10em;
}

.action_button:hover {
    box-shadow: 10px 10px 0px 0px var(--game-black);
    transform: translate(0.1em, 0.1em);
}

.next_btn {
    transform: rotate(180deg);
}

#emotion_and_culprit_choices_next_btn, #interrogation_next_btn, #interrogation_suspect_previous_btn, #return_to_home_btn {
    position: fixed;
    left: calc(100% - 6em);
    top: 1em;
}

/* Introduction */
.introduction {
    padding: 1em;
    display: flex;
    flex-direction: row;
}
.introduction_left{
    padding: 1em;
    max-width: 50vw;
}
.introduction_right{
    font-size: 2em;
    padding: 1em;
    max-width: 50vw;
}
.introduction_text {
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.introduction_title {
    margin: 0;
    text-align: left;
}

.inspector_picture{
    border: var(--game-dark-gold) solid 5px;
    border-radius: 1em;
    max-width: 45vw;
    background-color: #000000d0;
}

.username{
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
}

/* Interrogation */
.ask_button {
    background-color: var(--game-white);
    color: var(--game-black);
    text-transform: none;
}
.anwser_title {
    font-size: 2.5em;
    margin: 0.25em;
}

.interrogation_title {
    font-size: 3em;
    max-width: calc(100vw - 2em);
}

.suspect_answer {
    font-size: 1.375em;
    margin-bottom: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-top: 1em;
}

#interrogation_suspect_previous_btn {
    margin-right: 1em;
}

/* Emotion and culprit choices */
.culprit_icon {
    fill: var(--game-white);
    height: 1em;
    margin-right: 0.25em;
    width: 1em;
}

.culprit_btn_checked {
    background-color: var(--game-green);
}

.emotion_and_culprit_choices_title {
    font-size: 2em;
    margin: 0.5em;
}

.question_button {
    background-color: var(--game-grey);
    border-radius: 2em;
    text-transform: none;
}

.questions_and_image {
    justify-content: space-evenly;
}

.questions_list {
    align-items: normal;
}

.suspect_emotion_chooser {
    background-color: var(--game-grey);
    border-radius: var(--button-and-dialog-border-radius);
    color: var(--game-white);
    font-size: 1em;
    padding: 0.5em;
}

/* Results and scores */
.explain {
    border: var(--game-dark-gold) solid;
    border-radius: 1em;
    background-color: #000000d0;
}


.explain_suspect_emotion_description {
    font-size: 1.25em;
    font-weight: normal;
}

.explain_suspect_emotion_title {
    font-size: 1.75em;
    margin: 0.5em;
}

.player_name_and_score {
    font-size: 1.5em;
    font-weight: normal;
    padding: 0.25em;
}

.results_title {
    font-size: 4.5em;
}

.reveal_and_scores {
    justify-content: space-around;
}

.reveal_culprit_explaination {
    font-size: 1.25em;
}

.reveal_culprit_title, .reveal_score, .score_title {
    font-size: 2em;
}

.scores {
    min-width: 15em;
}

.summary_suspect {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.summary_title {
    font-size: 4em;
}

#return_lobby_button {
    border: transparent;
}

* {box-sizing: border-box;}

/* chat */
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  color: #555;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 5em;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}