/* Common properties */
html {
    background-color: var(--game-black);
    color: var(--game-white);
    font-family: "Roboto Mono", "sans-serif";
}

/* Legal links and texts */
.legal_text_description, .legal_text_last_update, .legal_text_title {
    margin: 0;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.legal_link {
    color: var(--game-blue);
}

.legal_text_title {
    font-family: "Spicy Rice", sans-serif;
    font-size: 2.5em;
    text-align: center;
}

.legal_text_last_update {
    font-family: "Titan One", serif;
    font-size: 1.5em;
}

.legal_text_description {
    font-size: 1.25em;
}

.legal_text_unordered_list {
    font-size: 1em;
    /* Disable list item padding */
    list-style-position: inside;
    padding-inline-start: 0;
}
