<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Truth Inquiry</title>
        <link rel="stylesheet" href="/static/css/game_ui.css">
        <link rel="stylesheet" href="/static/css/game_ui_game.css">
        <meta name="color-scheme" content="dark light">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body class="game_app">
        <div class="current_background"></div>
        <div class="introduction hidden">
            <h1 class="introduction_title">Truth Inquiry</h1>
            <p class="introduction_text">Bienvenue dans Truth Inquiry, vous allez intégrer la peau d’un enquêteur.<br><br>Vous avez été donné responsable de résoudre une enquête et devez trouver le coupable d’un vol.<br><br>Cliquez sur la flèche pour découvrir les suspects et les interroger.</p>
            <button id="introduction_next_btn" aria-label="Commencer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <path d="m23.15 36.95-17.3-11.1Q4.7 25.25 4.7 24t1.15-1.9L23.15 11q1.15-.7 2.35-.075 1.2.625 1.2 2.025v8.75h15.8q.95 0 1.625.675T44.8 24q0 .95-.675 1.6-.675.65-1.625.65H26.7V35q0 1.45-1.2 2.075-1.2.625-2.35-.125Z">
                </svg>
            </button>
        </div>
        <div class="interrogation hidden">
            <h1 class="interrogation_title">Suspects</h1>
            <button id="interrogation_next_btn" class="next_btn" aria-label="Passer à la suite">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <path d="m23.15 36.95-17.3-11.1Q4.7 25.25 4.7 24t1.15-1.9L23.15 11q1.15-.7 2.35-.075 1.2.625 1.2 2.025v8.75h15.8q.95 0 1.625.675T44.8 24q0 .95-.675 1.6-.675.65-1.625.65H26.7V35q0 1.45-1.2 2.075-1.2.625-2.35-.125Z">
                </svg>
            </button>
            <div class="suspects" id="interrogation_suspects">
            </div>
        </div>
        <div class="emotion_and_culprit_choices hidden">
            <h1 class="emotion_and_culprit_choices_title">Choix du coupable et émotion des suspects</h1>
            <button id="emotion_and_culprit_choices_next_btn" class="next_btn hidden" aria-label="Passer à la suite">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <path d="m23.15 36.95-17.3-11.1Q4.7 25.25 4.7 24t1.15-1.9L23.15 11q1.15-.7 2.35-.075 1.2.625 1.2 2.025v8.75h15.8q.95 0 1.625.675T44.8 24q0 .95-.675 1.6-.675.65-1.625.65H26.7V35q0 1.45-1.2 2.075-1.2.625-2.35-.125Z">
                </svg>
            </button>
            <div class="suspects" id="culprits_choices">
            </div>
        </div>
        <div class="interrogation_suspect hidden">
            <h1 class="interrogation_title">Poser une question au suspect</h1>
            <img class="suspect_picture" id="currentNpcPicure" src="">
            <button id="interrogation_suspect_previous_btn" class="next_btn" aria-label="Revenir à la sélection du suspect">
                <svg class="next_btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <path d="m23.15 36.95-17.3-11.1Q4.7 25.25 4.7 24t1.15-1.9L23.15 11q1.15-.7 2.35-.075 1.2.625 1.2 2.025v8.75h15.8q.95 0 1.625.675T44.8 24q0 .95-.675 1.6-.675.65-1.625.65H26.7V35q0 1.45-1.2 2.075-1.2.625-2.35-.125Z"/>
                </svg>
            </button>
            <div class="questions_list">
                <button class="action_button question_button" id="QA_0">Où étiez vous hier soir&nbsp;?</button>
                <button class="action_button question_button" id="QA_1">Avec qui étiez vous&nbsp;?</button>
            </div>
            <div class="question_answer hidden">
                <h1 class="anwser_title">Réponse du suspect à la question</h1>
                <p class="suspect_answer"></p>
            </div>
        </div>
        <div class="results_game hidden">
            <h1 class="results_title">Résultats</h1>
            <div class="reveal_and_scores">
                <div class="scores">
                    <div class="player_score">
                        <h1 class="score_title">Votre score est de&nbsp;:</h1>
                        <h2 class="reveal_score">4/5</h2>
                    </div>
                    <div class="results_game_multiplayer">
                        <div class="players_list">
                            <!-- TODO: model, remove from HTML and add it dynamically with JavaScript for each player -->
                            <h3 class="player_name_and_score">nom&nbsp;: score</h3>
                            <h3 class="player_name_and_score">nom&nbsp;: score</h3>
                            <h3 class="player_name_and_score">nom&nbsp;: score</h3>
                            <h3 class="player_name_and_score">nom&nbsp;: score</h3>
                        </div>
                    </div>
                </div>
                <div class="reveal_culprit">
                    <h2 class="reveal_culprit_title">Le coupable était ...</h2>
                    <img class="suspect_picture" src="/static/images/suspect_example.png" alt="Example" draggable="false">
                    <h3 class="reveal_culprit_explaination">Ce suspect était le coupable car il ...</h3>
                </div>
            </div>
            <div class="summary">
                <h1 class="summary_title">Débrief</h1>
                <div class="suspects_list">
                    <div class="summary_suspect">
                        <img class="suspect_picture" src="/static/images/suspect_example.png" alt="Example" draggable="false">
                        <h2 class="explain_suspect_emotion_title">Ce suspect était ...</h2>
                        <p class="explain_suspect_emotion_description">En effet, la ... se caractérise par un ...</p>
                    </div>
                    <div class="summary_suspect">
                        <img class="suspect_picture" src="/static/images/suspect_example.png" alt="Example" draggable="false">
                        <h2 class="explain_suspect_emotion_title">Ce suspect était ...</h2>
                        <p class="explain_suspect_emotion_description">En effet, la ... se caractérise par un ...</p>
                    </div>
                    <div class="summary_suspect">
                        <img class="suspect_picture" src="/static/images/suspect_example.png" alt="Example" draggable="false">
                        <h2 class="explain_suspect_emotion_title">Ce suspect était ...</h2>
                        <p class="explain_suspect_emotion_description">En effet, la ... se caractérise par un ...</p>
                    </div>
                    <div class="summary_suspect">
                        <img class="suspect_picture" src="/static/images/suspect_example.png" alt="Example" draggable="false">
                        <h2 class="explain_suspect_emotion_title">Ce suspect était ...</h2>
                        <p class="explain_suspect_emotion_description">En effet, la ... se caractérise par un ...</p>
                    </div>
                </div>
            </div>
        </div>    
        <div class="alert_dialog_background"></div>
        <div class="unsupported_browser">
            <div id="unsupported_browser_dialog" class="alert_dialog">
                <h3 class="alert_dialog_title">Navigateur non supporté</h3>
                <p class="alert_dialog_msg unsupported_browser_msg"></p>
            </div>
        </div>
        <noscript>
            <div class="alert_dialog_background" style="display: block;"></div>
            <div class="js_requirement">
                <div id="js_requirement_dialog" class="alert_dialog" style="display: block;">
                    <h3 class="alert_dialog_title" style="display: block;">JavaScript nécessaire</h3>
                    <p class="alert_dialog_msg unsupported_browser_msg" style="display: block;">Désolé, mais JavaScript est nécessaire pour faire fonctionner Truth Inquiry. Veuillez l'activer dans votre navigateur ou en utiliser un qui le supporte afin de pouvoir jouer au jeu.</p>
                </div>
            </div>
        </noscript>
        <!-- buttons to clone in js-->
        <button class="ask_button action_button hidden" id="interogationButton">Interroger</button>
        <!-- Add culprit_btn_checked class when a choice is checked -->
        <!-- Only one button can be checked at a time, so when one is checked, the previous one, if applicable, is unchecked -->
        <button class="culprit_btn action_button hidden", id="culpritButton">
            <svg class="culprit_checked_icon hidden culprit_icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 48 48">
                <path d="M18.9 36.75 6.65 24.5l3.3-3.3 8.95 9L38 11.1l3.3 3.25Z"></path>
            </svg>
            <svg class="culprit_unchecked_icon culprit_icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 48 48">
                <path d="M12.45 38.7 9.3 35.55 20.85 24 9.3 12.5l3.15-3.2L24 20.8 35.55 9.3l3.15 3.2L27.2 24l11.5 11.55-3.15 3.15L24 27.2Z">
            </svg>
            <p class="culprit_btn_text">Couplable</p>
        </button>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
        <script src="/static/js/api.js"></script>
        <script src="/static/js/game_common.js"></script>
        <script src="/static/js/game.js"></script>
    </body>
</html>
