<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Truth Inquiry - Licenses</title>
        <link rel="stylesheet" href="/static/css/game_ui.css">
        <link rel="stylesheet" href="/static/css/game_ui_legal.css">
        <meta name="color-scheme" content="dark light">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </head>
    <body>
        <h1 class="legal_text_title">Licenses et crédits de Truth Inquiry</h1>
        <p class="legal_text_description">Truth Inquiry n'aurait pas pu être réalisé sans ces personnes ou ces entreprises et leur travail, merci à elles&nbsp;! Voici les éléments que nous avons réutilisés&nbsp;:</p>
        <ul class="legal_text_unordered_list" id="licenses">
            <li class="license_item">
                Spicy Rice, police créée par Astigmatic sous license <a href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL" title="Voir la license Open Font License dans un nouvel onglet" target="_blank" class="legal_link">Open Font License</a>
            </li>
            <li class="license_item">
                Titan One, police créée par Rodrigo Fuenzalida sous license <a href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL" title="Voir la license Open Font License dans un nouvel onglet" target="_blank" class="legal_link">Open Font License</a>
            </li>
            <li class="license_item">
                Roboto Mono, police créée par Christian Robertson sous license <a href="https://www.apache.org/licenses/LICENSE-2.0.html" title="Voir la license Apache 2.0 dans un nouvel onglet" target="_blank" class="legal_link">Apache 2.0</a>
            </li>
            <li class="license_item">
                Material Icons, créés par Google sous license <a href="https://www.apache.org/licenses/LICENSE-2.0.html" title="Voir la license Apache 2.0 dans un nouvel onglet" target="_blank" class="legal_link">Apache 2.0</a>
            </li>
            <li class="license_item">
                Certains icônes d'illustrations peuvent provenir de Icons8, sous license <a href="https://icons8.com/license" title="Voir la license gratuite Icons8 dans un nouvel onglet" target="_blank" class="legal_link">gratuite Icons8</a>
            </li>
            <li class="license_item">
                Flask, framework Python créé par Pallets, sous license <a href="https://github.com/pallets/flask/blob/main/LICENSE.rst" title="Voir la license BSD-3 Clause de Flask dans un nouvel onglet" target="_blank" class="legal_link">BSD-3 Clause</a>
            </li>
            <li class="license_item">
                Socket.IO (client), bibliothèque JavaScript créée par Guillermo Rauch, sous license <a href="https://github.com/socketio/socket.io-client/blob/main/LICENSE" title="Voir la license MIT de Socket.IO (client) dans un nouvel onglet" target="_blank" class="legal_link">MIT</a>
            </li>
        </ul>
        <footer>
            <div class="footer_links">
                <a href="/privacy" class="footer_link link" target="_blank" title="Consulter la politique de confidentialité de Truth Inquiry (ouverture dans un nouvel onglet)">Politique de confidentialité</a>
                <a href="/licenses" class="footer_link link" target="_blank" title="Consulter les licenses des éléments non-originaux de Truth Inquiry (ouverture dans un nouvel onglet)">Licenses</a>
                <a href="/legal" class="footer_link link" target="_blank" title="Consulter les mentions légales de Truth Inquiry (ouverture dans un nouvel onglet)">Mentions légales</a>
            </div>
        </footer>
    </body>
</html>
