<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Places</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="admin_ui.css">
        <script src="/static/js/admin.js"></script>
        <script src="/static/js/api.js"></script>
    </head>
    <body>
        <a href="/admin"> go Back </a> <br>


        <section id="places">
        {%for place in places%}
            <section id="{{place['id']}}">
                <input value="{{place['name']}}">
                <button onclick="deletePlace(this)">Delete place</button>
            </section>
        {%endfor%}
        </section>
        <button onclick="addNewInputPlaces()">Add new</button>
        <button onclick="saveFormPlaces()">Save changes</button>

    </body>
</html>
