<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Admin Page</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="admin_ui.css">
        <script src="/static/js/admin.js"></script>
        <script src="/static/js/api.js"></script>
    </head>
    <body>
    
        <a href="/admin"> go Back </a> <br>

        <section id="allQuestions">
            {%for questionType in questions%}
            <div class="questionType">
                <section class="questionTypeContent">
                    {%for question in questionType["questions"]%}
                    <section class="question">
                        <input value="{{question['text']}}">
                        <button onclick="deleteInputQuestions(this)">Delete question</button>
                    </section>
                    {%endfor%}
                </section>
                <button onclick="addInputQuestions(this)">Add new</button>
            </div>
            {%endfor%}
        </section>

        <br>

        <button onclick="saveFormQuestions()"> Save changes </button>
    </body>
</html>
