<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Traits</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="admin_ui.css">
        <script src="/static/js/api.js"></script>
        <script src="/static/js/admin.js"></script>
    </head>
    <body>
        <a href="/admin"> go Back </a> <br>

        <section id="traits">
        {%for trait in traits%}
            <section id="{{trait['id']}}">
                <p> Name: </p>
                <input class="name_input" value="{{trait['name']}}">
                <p> Description: </p>
                <input class="desc_input" value="{{trait['desc']}}">
                <button onclick="deleteInputTraits(this)">Delete trait</button>
            </section>
            {%endfor%}
        </section>
        <button onclick="addInputTraits()">Add new</button>
        <button onclick="saveFormTraits()">Save changes</button>

        <p>Images are viewable in the npc views</p>
    </body>
</html>