<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Truth Inquiry - Error</title>
        <link rel="icon" href="/static/images/favicon/favicon_32.png" type="image/png" sizes="32x32">
        <link rel="icon" href="/static/images/favicon/favicon_64.png" type="image/png" sizes="64x64">
        <link rel="icon" href="/static/images/favicon/favicon_96.png" type="image/png" sizes="96x96">
        <link rel="icon" href="/static/images/favicon/favicon_128.png" type="image/png" sizes="128x128">
        <link rel="icon" href="/static/images/favicon/favicon_192.png" type="image/png" sizes="192x192">
        <link rel="icon" href="/static/images/favicon/favicon_256.png" type="image/png" sizes="256x256">
        <link rel="icon" href="/static/images/favicon/favicon_256.png" type="image/png" sizes="512x512">
        <meta name="color-scheme" content="dark light">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <img src="{{url}}" alt="Image describing a HTTP error">
        <p>{{desc}}</p>
    </body>
</html>
