<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Truth Inquiry - Mentions légales</title>
        <link rel="stylesheet" href="/static/css/game_ui.css">
        <link rel="stylesheet" href="/static/css/game_ui_legal.css">
        <link rel="icon" href="/static/images/favicon/favicon_32.png" type="image/png" sizes="32x32">
        <link rel="icon" href="/static/images/favicon/favicon_64.png" type="image/png" sizes="64x64">
        <link rel="icon" href="/static/images/favicon/favicon_96.png" type="image/png" sizes="96x96">
        <link rel="icon" href="/static/images/favicon/favicon_128.png" type="image/png" sizes="128x128">
        <link rel="icon" href="/static/images/favicon/favicon_192.png" type="image/png" sizes="192x192">
        <link rel="icon" href="/static/images/favicon/favicon_256.png" type="image/png" sizes="256x256">
        <link rel="icon" href="/static/images/favicon/favicon_256.png" type="image/png" sizes="512x512">
        <meta name="color-scheme" content="dark light">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1 class="legal_text_title">Mentions légales</h1>
        <div class="legal_text_block">
            <p> {{ hosting_info }} </p>
        </div>
        <div class="legal_text_block">
            <p>Le code de ce jeu est ouvert et disponible sous license MIT à l'adresse suivante&nbsp;: <a href="https://github.com/ThomasRubini/SAE-A2-TruthInquiry" target="_blank" title="Voir le dépôt de Truth Inquiry dans un nouvel onglet" class="legal_link">https://github.com/ThomasRubini/SAE-A2-TruthInquiry</a></p>
        </div>
        <footer>
            <div class="footer_links">
                <a href="/privacy" class="footer_link link" target="_blank" title="Consulter la politique de confidentialité de Truth Inquiry (ouverture dans un nouvel onglet)">Politique de confidentialité</a>
                <a href="/licenses" class="footer_link link" target="_blank" title="Consulter les licenses des éléments non-originaux de Truth Inquiry (ouverture dans un nouvel onglet)">Licenses</a>
                <a href="/legal" class="footer_link link" target="_blank" title="Consulter les mentions légales de Truth Inquiry (ouverture dans un nouvel onglet)">Mentions légales</a>
            </div>
        </footer>
    </body>
</html>
