<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Truth Inquiry - Salon</title>
        <link rel="stylesheet" href="/static/css/game_ui.css">
        <link rel="stylesheet" href="/static/css/game_ui_lobby.css">
        <link rel="icon" href="/static/images/favicon/favicon_32.png" type="image/png" sizes="32x32">
        <link rel="icon" href="/static/images/favicon/favicon_64.png" type="image/png" sizes="64x64">
        <link rel="icon" href="/static/images/favicon/favicon_96.png" type="image/png" sizes="96x96">
        <link rel="icon" href="/static/images/favicon/favicon_128.png" type="image/png" sizes="128x128">
        <link rel="icon" href="/static/images/favicon/favicon_192.png" type="image/png" sizes="192x192">
        <link rel="icon" href="/static/images/favicon/favicon_256.png" type="image/png" sizes="256x256">
        <link rel="icon" href="/static/images/favicon/favicon_256.png" type="image/png" sizes="512x512">
        <meta name="color-scheme" content="dark light">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="game_app">
        <input type="hidden" id="game_id" name="game_id" value={{gameid}}>
        <section class="join_room_view hidden">
            <h1 class="room_title">Salon</h1>
            <div class="unjoinded_players_list">
                <h2 class="players_title">Joueurs</h2>
                <div class="player_names"></div>
            </div>
            <input type="text" id="game_username" placeholder="Entrez un pseudo" value="" required="required" maxlength="20">
            <button id="join_game_button" class="action_button">Rejoindre</button>
            <p class="game_start_failed hidden">Une erreur s'est produite. Réessayez ultérieurement.</p>
        </section>
        <section class="room_view hidden">
            <div class="room_view_container">
                <h1 class="room_title">Salon</h1>
                <div class="room_code_text hidden">
                    <h3 class="room_code_text_title">Code&nbsp;: <a href="" target="_blank" class="room_code"></a></h3>
                    <button id="invite_friends_button" class="action_button">Copier le lien d'invitation</button>
                </div>
            </div>
            <div class="room_view_container">
                <div class="players_list hidden">
                    <h2 class="players_title">Joueurs</h2>
                    <div class="player_names"></div>
                </div>
                <div class="multi_player_mode_choices hidden">
                    <div class="multi_player_mode_choice">
                        <h3 class="multi_player_mode_choice_title">Jouer au mode Histoire</h3>
                        <button id="multi_player_history_start_button" class="action_button">Lancer</button>
                    </div>
                    <div class="multi_player_mode_choice">
                        <h3 class="multi_player_mode_choice_title">Jouer au mode Challenge</h3>
                        <button id="multi_player_challenge_start_button" class="action_button">Lancer</button>
                        <div class="multi_player_mode_choice_number">
                            <h3 class="rounds_count_title">Nombre de tours&nbsp;:</h3>
                            <input id="rounds_count" type="number" min="5" max="15" value="5">
                        </div>
                        <p class="multi_player_challenge_mode_invalid_input hidden">Nombre de tours invalide. Veuillez entrer un nombre valide entre 5 inclus et 15 inclus.</p>
                    </div>
                </div>
                <h3 class="multi_player_mode_waiting_for_host hidden">En attente du démarrage de la partie par l'hôte&nbsp;…</h3>
            </div>
        </section>
        <div class="alert_dialog_background"></div>
        <section class="unsupported_browser">
            <dialog id="unsupported_browser_dialog" class="alert_dialog">
                <h3 class="alert_dialog_title">Navigateur non supporté</h3>
                <p class="alert_dialog_msg unsupported_browser_msg"></p>
                <div class="footer_links">
                    <a href="/privacy" class="footer_link link" target="_blank" title="Consulter la politique de confidentialité de Truth Inquiry (ouverture dans un nouvel onglet)">Politique de confidentialité</a>
                    <a href="/licenses" class="footer_link link" target="_blank" title="Consulter les licenses des éléments non-originaux de Truth Inquiry (ouverture dans un nouvel onglet)">Licenses</a>
                    <a href="/legal" class="footer_link link" target="_blank" title="Consulter les mentions légales de Truth Inquiry (ouverture dans un nouvel onglet)">Mentions légales</a>
                </div>
            </dialog>
        </section>
        <noscript>
            <div class="alert_dialog_background"></div>
            <section class="js_requirement">
                <dialog id="js_requirement_dialog" class="alert_dialog alert_dialog_show">
                    <h3 class="alert_dialog_title">JavaScript nécessaire</h3>
                    <p class="alert_dialog_msg unsupported_browser_msg">Désolé, mais JavaScript est nécessaire pour faire fonctionner Truth Inquiry. Veuillez l'activer dans votre navigateur ou en utiliser un qui le supporte afin de pouvoir jouer au jeu.</p>
                    <div class="footer_links">
                        <a href="/privacy" class="footer_link link" target="_blank" title="Consulter la politique de confidentialité de Truth Inquiry (ouverture dans un nouvel onglet)">Politique de confidentialité</a>
                        <a href="/licenses" class="footer_link link" target="_blank" title="Consulter les licenses des éléments non-originaux de Truth Inquiry (ouverture dans un nouvel onglet)">Licenses</a>
                        <a href="/legal" class="footer_link link" target="_blank" title="Consulter les mentions légales de Truth Inquiry (ouverture dans un nouvel onglet)">Mentions légales</a>
                    </div>
                </dialog>
            </section>
        </noscript>
        <script src="/static/js/socket.io_v4.4.1/socket.io.min.js"></script>
        <script src="/static/js/api.js"></script>
        <script src="/static/js/game_common.js"></script>
        <script src="/static/js/game_lobby.js"></script>
    </body>
</html>
